/*#statistics {*/
/*  display: none;*/
/*}*/

#forecast-table {
  margin-top: 15px;
}

/*#pie-charts{*/
/*  display: none;*/
/*}*/

/*#pieChart{*/
/*  height: 500px !important;*/
/*  width: 500px !important;*/
/*}*/
