<div class="flex-container mx-auto w-95">
  <div class="d-flex justify-content-end">
    <app-back-button class="m-1"></app-back-button>
    <ng-container *ngIf="doneLoading">
      <app-more-details-button class="m-1" [forecastNum]="property.forecastNum"
                               [customerNum]="customerNum"></app-more-details-button>
    </ng-container>
  </div>
  <div class="d-flex justify-content-around">
    <div *ngIf="doneLoading">
      <app-property-form [headerText]="'Update Property Forecast'" [headerIcon]="'fa-solid fa-building-columns'"
                         [customerNum]="customerNum" [customerName]="customerName" [eventType]="'Update'"
                         [buttonText]="'Update Property'" [property]="property"
                         (alertUpdate)="alertUpdate($event)"></app-property-form>
    </div>
    <div class="w-75">
      <button id="forecast-table-btn" class="btn btn-primary btn-tabs w-50" [disabled]="disableForecastTable"
              (click)="showForecastTable()">Forecast Table
      </button>
      <button id="statistics-btn" class="btn btn-primary btn-tabs w-50" [disabled]="disableStatistics"
              (click)="showStatistics()">Statistics
      </button>
      <div *ngIf="doneLoading" id="forecast-table">
        <ng-container *ngIf="property$|async as newProperty">
          <app-property-summery [property]="newProperty"></app-property-summery>
        </ng-container>
        <app-forecast-row-list-container [forecastNum]="property.forecastNum"
                                         [forecastType]="'Property'"></app-forecast-row-list-container>
      </div>
      <div id="statistics">
        <button id="line-charts-btn" class="btn btn-primary btn-tabs-secondary w-50" [disabled]="disableLineCharts"
                (click)="showLineCharts()">Line Charts
        </button>
        <button id="pie-charts-btn" class="btn btn-primary btn-tabs-secondary w-50" [disabled]="disablePieCharts"
                (click)="showPieCharts()">Pie Charts
        </button>
        <div id="line-charts">
          <canvas id="interestAndMonthlyAmountChart" height="90"></canvas>
        </div>
        <div id="pie-charts">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <canvas id="pieChart"></canvas>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
