<div class="container w-75">
  <h1 class="text-center text-primary">Welcome</h1>
  <div class="text-center py-2 text-dark">
    <h5>Group 4 Finance Project Psybergate</h5>
  </div>
  <div class="text-center py-3 text-dark">
    <p>Choose a Financial Instrument</p>
  </div>
  <div class="row text-center py-3 instrument-container">
    <div class="col-5">
      <h2 class="text-primary">Financial Forecasts</h2>
      <p class="text-dark">Create investments and debts here.</p>
      <div class="py-4">
        <a class="btn btn-outline-primary btn-block" [routerLink]="['/forecastIndex']">Forecasts</a>
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5">
      <h2 class="text-primary">Tax Calculator.</h2>
      <p class="text-dark">Calculate your personal tax.</p>
      <div class="py-4">
        <a class="btn btn-outline-primary btn-block" [routerLink]="['/taxIndex']">Tax</a>
      </div>
    </div>
  </div>
</div>
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
