<div class="loading-screen" [ngStyle]="{'display': loadingScreenDisplay}">
  <div class="d-flex justify-content-center">
    <div class="loadingio-spinner-bean-eater-xaltw9ubbn"><div class="ldio-rm7j5xyh808">
      <div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
    </div></div>
  </div>
</div>
<div class="container w-100">
  <app-back-button></app-back-button>
  <div class="d-flex justify-content-around">
    <div class="w-25">
      <h3 class="text-primary"><i class="fa-solid fa-user-plus"></i> Add Taxpayer</h3>
      <form [formGroup]="taxPayerForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text"
                 class="form-control input-style"
                 formControlName="name"
                 placeholder="Enter your name"
                 [ngStyle]="{'border': (taxPayerForm.controls['name'].invalid && taxPayerForm.controls['name'].touched) ? '2px solid red' : ''}">
          <small *ngIf="taxPayerForm.controls['name'].invalid && taxPayerForm.controls['name'].touched" id="nameHelp"
                 class="form-text text-muted">Only letters and spaces are accepted.</small>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" class="form-control input-style" formControlName="age" placeholder="Enter your age"
                 [ngStyle]="{'border': (taxPayerForm.controls['age'].invalid && taxPayerForm.controls['age'].touched) ? '2px solid red' : ''}">
          <small *ngIf="taxPayerForm.controls['age'].invalid && taxPayerForm.controls['age'].touched" id="ageHelp"
                 class="form-text text-muted">Age can only be positive.</small>
        </div>
        <div class="form-group">
          <label>Medical Credits</label>
          <input class="form-control input-style" formControlName="medicalCredits"
                 placeholder="Enter your medical credits"
                 [ngStyle]="{'border': (taxPayerForm.controls['medicalCredits'].invalid && taxPayerForm.controls['medicalCredits'].touched) ? '2px solid red' : ''}">
          <small
            *ngIf="taxPayerForm.controls['medicalCredits'].invalid && taxPayerForm.controls['medicalCredits'].touched"
            id="medicalCreditsHelp" class="form-text text-muted text-red">Medical Credits can only be 0 or more.</small>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="taxPayerForm.invalid"
                (click)="createTaxPayer()">
          Add Taxpayer
        </button>
      </form>
    </div>
    <div class="container w-50">
      <div class="row text-center">
        <div class="col-12">
          <h4 class="text-primary">Taxpayers</h4>
          <small class="form-text text-muted">Click on a row to go the taxpayer's details</small>
        </div>
      </div>
      <div class="container scroll">
        <table class="table table-sm table-borderless table-hover mx-auto">
          <thead class="sticky-top bg-light">
          <tr>
            <th class="text-primary">Taxpayer Number</th>
            <th class="text-primary">Name</th>
            <th class="text-primary">Age</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taxPayer of taxPayers | paginate :{
              itemsPerPage: pageSize,
              currentPage: page+1,
              totalItems: count
              };">
            <td [routerLink]="['/taxPayers', taxPayer.taxPayerNum]">{{taxPayer.taxPayerNum}}</td>
            <td [routerLink]="['/taxPayers', taxPayer.taxPayerNum]">{{taxPayer.name}}</td>
            <td [routerLink]="['/taxPayers', taxPayer.taxPayerNum]">{{taxPayer.age}}</td>
            <td>
              <button class="btn btn-outline-primary" (click)="openPopup(taxPayer.taxPayerNum)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <ng-container *ngFor="let object of displayStyles">
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':object.displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Taxpayer</h5>
                  <button type="button" class="close" (click)="closePopup(object.num)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this Taxpayer?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="closePopup(object.num)">
                    No
                  </button>
                  <button class="btn btn-primary" (click)="deleteTaxPayer(object.num)">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
      <div class="d-flex justify-content-around">
        <div class="mt-1">
          Items:
          <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="mt-1">
          Sort by:
          <select (change)="handleSortChange($event)">
            <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">
              {{ sortOption }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
